<h1>Trabajo</h1>
<!----Hey hey!!!---->

<h2>Asignatura: Estadistica 2</h2>

<h3>Profesor: Carlos Alfonso Mantilla Duarte
<br>
Grupo: F1</h3>

<h4>Andrés Felipe Uribe García - 2160793
<br>Julián Orlando Rodríguez Villamizar - 2170137
<br>Isabel Cristina Gómez Balvin - 2171895 </h4>

<br>El estudiante debe descargar el archivo del siguiente enlace y realizar el respectivo análisis haciendo uso de los modelos lineales: https://www.dropbox.com/s/vv0f1k2y5nalpgx/bank-additional-full.csv?dl=0
<br>
<br>Los datos están relacionados con las campañas de marketing directo de una institución bancaria portuguesa. Las campañas de marketing se basaron en llamadas telefónicas. A menudo, se requería más de un contacto con el mismo cliente, para poder acceder si el producto (depósito bancario) estaba ("sí") o no ("no") suscrito.
<br>
<br>Las variables registradas son las siguientes:
<br>
<br>age - edad
<br>job- tipo de trabajo
<br>marital - estado civil
<br>education - nivel educativo
<br>default - crédito en incumplimiento
<br>housing - crédito de vivienda
<br>loan - préstamos personal
<br>contact - tipo de contacto realizado
<br>month - mes en que se hizo el último contacto
<br>day_of_week - último día de contacto de la semana
<br>duration - duración del último contacto, en segundos
<br>campaign - número de contactos realizados durante esta campaña y para este cliente
<br>pdays - número de días que pasaron después de que el cliente fue contactado por última vez desde una campaña anterior (999 significa que el cliente no fue contactado previamente)
<br>previous- número de contactos realizados antes de esta campaña y para este cliente
<br>poutcome - resultado de la campaña de marketing anterior
<br>emp.var.rate- tasa de variación del empleo - indicador trimestral
<br>cons.price.idx - índice de precios al consumidor - indicador mensual
<br>cons.conf.idx - índice de confianza del consumidor - indicador mensual
<br>euribor3m - euribor tasa de 3 meses - indicador diario
<br>nr.employed - número de empleados
<br>y - ¿el cliente ha suscrito un depósito a plazo?
<br>
<br>Los datos fueron tomados de: S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology. In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM'2011, pp. 117-121, Guimarães, Portugal, October, 2011. EUROSIS
</pr>

In [2]:
install.packages('samplingbook')
library(samplingbook)
library('SamplingUtil')
library(dplyr)
library(magrittr)
install.packages("bbmle")
library(bbmle)
install.packages("stats4")
library(stats4)
install.packages('rafalib')
library(rafalib)
library("readr")
ls()

Warning message:
"package 'samplingbook' is in use and will not be installed"
Warning message:
"package 'bbmle' is in use and will not be installed"
Warning message:
"package 'stats4' is in use and will not be installed"
Warning message:
"package 'rafalib' is in use and will not be installed"

character(0)

In [13]:
dataset <- read.csv("bank-additional-full.csv", header=TRUE,sep=";" )
head(dataset)
tail(dataset)

  age job       marital education   default housing loan contact   month
1 56  housemaid married basic.4y    no      no      no   telephone may
2 57  services  married high.school unknown no      no   telephone may
3 37  services  married high.school no      yes     no   telephone may
4 40  admin.    married basic.6y    no      no      no   telephone may
5 56  services  married high.school no      no      yes  telephone may
6 45  services  married basic.9y    unknown no      no   telephone may
  day_of_week ... campaign pdays previous poutcome    emp.var.rate
1 mon         ... 1        999   0        nonexistent 1.1
2 mon         ... 1        999   0        nonexistent 1.1
3 mon         ... 1        999   0        nonexistent 1.1
4 mon         ... 1        999   0        nonexistent 1.1
5 mon         ... 1        999   0        nonexistent 1.1
6 mon         ... 1        999   0        nonexistent 1.1
  cons.price.idx cons.conf.idx euribor3m nr.employed y
1 93.994         -36.4         4.857     5191        no
2 93.994         -36.4         4.857     5191        no
3 93.994         -36.4         4.857     5191        no
4 93.994         -36.4         4.857     5191        no
5 93.994         -36.4         4.857     5191        no
6 93.994         -36.4         4.857     5191        no

      age job         marital education           default housing loan contact
41183 29  unemployed  single  basic.4y            no      yes     no   cellular
41184 73  retired     married professional.course no      yes     no   cellular
41185 46  blue-collar married professional.course no      no      no   cellular
41186 56  retired     married university.degree   no      yes     no   cellular
41187 44  technician  married professional.course no      no      no   cellular
41188 74  retired     married professional.course no      yes     no   cellular
      month day_of_week ... campaign pdays previous poutcome    emp.var.rate
41183 nov   fri         ... 1          9   1        success     -1.1
41184 nov   fri         ... 1        999   0        nonexistent -1.1
41185 nov   fri         ... 1        999   0        nonexistent -1.1
41186 nov   fri         ... 2        999   0        nonexistent -1.1
41187 nov   fri         ... 1        999   0        nonexistent -1.1
41188 nov   fri         ... 3        999   1        failure     -1.1
      cons.price.idx cons.conf.idx euribor3m nr.employed y
41183 94.767         -50.8         1.028     4963.6      no
41184 94.767         -50.8         1.028     4963.6      yes
41185 94.767         -50.8         1.028     4963.6      no
41186 94.767         -50.8         1.028     4963.6      no
41187 94.767         -50.8         1.028     4963.6      yes
41188 94.767         -50.8         1.028     4963.6      no

In [20]:
#Rellenamos los espacios faltantes con su media correspondiente
#pues de omitirlos podriamos perder informacion importante
R<-data.frame(Edad=dataset$age,
                Trab=dataset$job,
                EstCv=dataset$marital,
                NvEduc=dataset$education,
                CredInc=dataset$default,
                CredViv=dataset$housing,
                CredPer=dataset$loan,
                Cont=dataset$contact,
                Sus=dataset$y)

sum(is.na(R$Edad))
sum(is.na(R$Trab))
sum(is.na(R$EstCv))
sum(is.na(R$NvEduc))
sum(is.na(R$CredInc))
sum(is.na(R$CredViv))
sum(is.na(R$CredPer))
sum(is.na(R$Cont))
sum(is.na(R$Sus))
#No hay que limpiar

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0